<h1>Sections</h1>


<% @sections.each do |section| %>
<span class="main-container">

  <ul>

    <p><%= link_to section.name, section_path(section) %></p>

    <div class="ui label">
      <%= link_to "Posts", section_path(section) %>
      <div class="detail"><%= link_to section.posts.count, section_path(section) %>
      </div>
    </div>

    <hr>

  </ul>
</span>


<% end %>
