// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.username-header{
  text-align: center;
}
.user-info{
  text-align: center;
  font-size: 1.25em;
}
.profile-page{
  text-align: center;
}
